node_modules/
bower_components/
jspm_packages/
.DS_Store
npm-debug.log
*.bundle.js
*.bundle.js.map
build/
.idea

#---------------------------------------------------------
# Angular
#---------------------------------------------------------
node_modules/.bin

# ignore the source / documentation of each node module, but retain the
# distribution builds

node_modules/systemjs
!node_modules/systemjs/dist/system.src.js

node_modules/todomvc-app-css
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common
!node_modules/todomvc-common/base.css

node_modules/angular2
!node_modules/angular2/bundles/angular2-polyfills.js
!node_modules/angular2/bundles/angular2.dev.js

node_modules/rxjs
!node_modules/rxjs/bundles/Rx.js

# Ignore development dependencies
node_modules/tsd
node_modules/typescript

*.js.map
typings


#---------------------------------------------------------
# React
#---------------------------------------------------------
node_modules/director
!node_modules/director/build/director.js

node_modules/react
!node_modules/react/dist/react-with-addons.js
!node_modules/react/dist/JSXTransformer.js
node_modules/todomvc-app-css
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common
!node_modules/todomvc-common/base.css
!node_modules/todomvc-common/base.js


#---------------------------------------------------------
# Vue
#---------------------------------------------------------
node_modules/todomvc-app-css
!node_modules/todomvc-app-css/index.css

node_modules/todomvc-common
!node_modules/todomvc-common/base.js
!node_modules/todomvc-common/base.css

node_modules/director/**
!node_modules/director/build/director.js

node_modules/vue/**
!node_modules/vue/dist/vue.js
